<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PracaDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\andri\source\repos\Praca_inzynierska\Praca_inzynierska\PracaDb.mdf;Integrated Security=True" />
	</connectionStrings>
</configuration>